extends layout
block content
    include ./navbar
    .row
        h1.whitebox 1st Black Bitcoiners Conference
    
    .row
        .whitebox.col-md-4
            h2 What:
            p An historic gathering of cryptocurrency luminaries, entrepreneurs, community organizers, and changeagents.
            
        .whitebox.col-md-6
            h2 Who: Interested in speaking? 
            h4 
                a(href='mailto:') Send us an email!
    
    .row
        .whitebox.col-md-4
            h2 Where:
            h4 Interested in hosting? 
                a(href='mailto:') Send us an email!
        .whitebox.col-md-6
            h2 When: Summer 2016
        
    hr
    
    .col-lg-8.col-md-8.whitebox.col-sm-12.col-xs-12
        .col-md-12    
            h1.text-center Want to learn more?

        .col-md-12
            form(action='submitemail' method='post')
                input#learnmoreemail(type='text', placeholder='Your Email Address' name='email') 
        
                input#learnmoresubmit(type='submit', value='Submit')
                input(type='hidden' name='source' value='main')