extends layout

block content
    include ./navbar
    .container-fluid
        .row
            #headlinebox.col-lg-12.col-md-12.col-sm-12.col-xs-12
                h1#headline
                    strong Black Bitcoiners
                h1 Justice in the New Economy
            
