ul.nav.navbar-nav.navbar-right#social.col-md-4.hidden-xs.hidden-md.hidden-lg
    li
        a(href='https://www.twitter.com/kinnardian')
            i.fa.fa-2x.fa-twitter
    li
        a(href='https://www.linkedin.com/in/kinnardh')
            i.fa.fa-2x.fa-linkedin
    li
        a(href='https://www.github.com/kinnardian')
            i.fa.fa-2x.fa-github