extends layout

block content
    include ./navbar
    h1 Mission
    .whitebox.col-md-6
        p Our Mission is to use Bitcoin as a tool to educate people, empower people, and promote economic justice through three key avenues: the promotion financial literacy, the promotion of code literacy, and the promotion of diversity.
        h3 Events
        h4 • Networking
        h4 • Educational
        h4 • Hackathons
        h3 Educational Material
        h4 • Blog
        h4 • Blacks in Bitcoin Report
    hr


            