nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') Black Bitcoiners
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='./mission') Mission
                li
                    a(href='./team') Team
                li
                    a(href='./conference') Conference
                li
                    a(href='http://medium.com/@blackbitcoiners') Blog
                li
                    a(href='./support') Support Us
            ul.nav.navbar-nav.navbar-right#social.hidden-sm
                li
                    a(href='https://www.facebook.com/blackbitcoiners')
                        i.fa.fa-2x.fa-facebook
                li
                    a(href='https://www.twitter.com/blackbitcoiners')
                        i.fa.fa-2x.fa-twitter
                li
                    a(href='https://www.linkedin.com/grp/home?gid=6977037')
                        i.fa.fa-2x.fa-linkedin
                li
                    a(href='https://www.github.com/blackbitcoiners')
                        i.fa.fa-2x.fa-github