ul.nav.navbar-nav#social.col-md-4.hidden-xs.hidden-sm

                        li
                            a()
                                i.fa.fa-2x.fa-twitter
                        li
                            a()
                                i.fa.fa-2x.fa-linkedin
                        li
                            a()
                                i.fa.fa-2x.fa-github