ul.nav.navbar-nav.navbar-right#social.col-md-4.hidden-xs.hidden-md.hidden-lg

                        li
                            a(href='https://www.twitter.com/blackbitcoiners')
                                i.fa.fa-2x.fa-twitter
                        li
                            a(href='https://www.linkedin.com/grp/home?gid=6977037')
                                i.fa.fa-2x.fa-linkedin
                        li
                            a(href='https://www.github.com/blackbitcoiners')
                                i.fa.fa-2x.fa-github