extends layout

block content
    include ./navbar
    .container-fluid
        
        h1 Support Black Bitcoiners
        hr
        .row
            .col-md-12
                #socialSupport.whitebox.col-md-6
                    h2 Social Media
                    hr
                    .col-md-12
                        .whitebox.col-md-6 Join us on facebook
                            a(href='https://www.facebook.com/groups/blackbitcoiners').pull-right
                                i.fa.fa-2x.fa-facebook
                    .col-md-12
                        .whitebox.col-md-6
                            | Follow us on twitter
                            a(href='https://www.twitter.com/blackbitcoiners').pull-right
                                i.fa.fa-2x.fa-twitter
                            
                    .col-md-12
                        .whitebox.col-md-6 Build with us on github
                            a(href='https://www.github.com/blackbitcoiners').pull-right
                                i.fa.fa-2x.fa-github
                    .col-md-12
                        .whitebox.col-md-6 Join us on linkedin
                            a(href='https://www.linkedin.com/grp/home?gid=6977037').pull-right
                                i.fa.fa-2x.fa-linkedin
                .whitebox.col-md-5
                    
                    h2 Donate
                    hr
                    .col-md-6
                        h3 1FyDYHoPyz9qcyhpYhCF2Bxdav2W1Lyesn
                        img(style="border: 1px solid black;" src="http://chart.apis.google.com/chart?cht=qr&chld=Q%7C2&chs=200&chl=1FyDYHoPyz9qcyhpYhCF2Bxdav2W1Lyesn")
                                        
        hr

        .whitebox.col-sm-12.col-xs-12.col-lg-12.col-md-6
            .col-md-12    
                h1.text-center Want to learn more?

            .col-md-12
                form(action='./mailingList' method='post')
                    input#learnmoreemail(type='text', placeholder='Your Email Address' name='email') 
            
                    input#learnmoresubmit(type='submit', value='Submit')
                    input(type='hidden' name='source' value='main')