extends layout

block content
    include ./navbar
    h1 The Team
    hr
    .row
        .col-md-12 
            .thumbnail.col-md-2
                img(src='./images/kinnard.jpg')
                .caption
                    h3 Chairman
                    p Kinnard Hockenhull

            .thumbnail.col-md-2.col-md-offset-1
                img(src='./images/kinnard.jpg')
                .caption
                    h3 Director of Programming
                    p You?
            .thumbnail.col-md-2.col-md-offset-2
                img(src='./images/kinnard.jpg')
                .caption
                    h3 Director of Communications
                    p You?

    .row
        .col-md-12
            .thumbnail.col-md-2
                img(src='./images/kinnard.jpg')
                .caption
                    h3 Director of Technology
                    p You?
            .thumbnail.col-md-2.col-md-offset-1
                    img(src='./images/kinnard.jpg')
                    .caption
                        h3 Director of Development
                        p You?
    hr