extends layout

block content
    include ./navbar
    h1 The Team
    hr
    .row
        .col-md-12 
            .thumbnail.col-md-3
                img(src='./images/kinnard.jpg').col-sm-2.col-md-8
                include ./ksocialside.jade
                include ./ksocialrightside.jade
                .caption.col-md-12
                    h3 Chairman
                    hr
                    h4 Kinnard Hockenhull
                    

            .thumbnail.col-md-3.col-md-offset-1
                img(src='./images/man-silhouette.svg').col-sm-2.col-md-8
                include ./socialside.jade
                include ./socialrightside
                .caption.col-md-12
                    h3 Director of Programming
                    hr
                    h4 Interested? 
                        a(href='mailto:blackbitcoiners@gmail.com') Email us!
            .thumbnail.col-md-3.col-md-offset-1
                img(src='./images/man-silhouette.svg').col-sm-2.col-md-8
                include ./socialside.jade
                include ./socialrightside
                .caption.col-md-12
                    h3 Director of Communications
                    hr
                    h4 Interested? 
                        a(href='mailto:blackbitcoiners@gmail.com') Email us!
    hr
    .row
        .col-md-12
            .thumbnail.col-md-3
                img(src='./images/man-silhouette.svg').col-sm-2.col-md-8
                include ./socialside.jade
                include ./socialrightside
                .caption.col-md-12
                    h3 Director of Technology
                    hr
                    h4 Interested? 
                        a(href='mailto:blackbitcoiners@gmail.com') Email us!
            .thumbnail.col-md-3.col-md-offset-1
                img(src='./images/man-silhouette.svg').col-sm-2.col-md-8
                include ./socialside.jade
                include ./socialrightside
                .caption.col-md-12
                    h3 Director of Development
                    hr
                    h4 Interested? 
                        a(href='mailto:blackbitcoiners@gmail.com') Email us!
    hr
