extends layout

block content
    include ./navbar
    h1 The Team
    .row
        .col-md-12  
            h2 Chairman
            .whitebox.col-md-3
                | Kinnard Hockenhull

            h2 Director of Programming
            .youbox.whitebox.col-md-3
                span YOU
            h2 Director of Communications
            .youbox.whitebox.col-md-3
                span YOU
    .row
        h2 Director of Technology
        .whitebox.col-md-3